extends layout

block content
  h1= title
  p Welcome to #{title}
  div
  .dropdown
        a(href="#", data-toggle="dropdown").dropdown-toggle Dropdown trigger
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')

  